<div class="container">
<div class="row">
  <div class="video-edit">
      <%= form_for(@video) do |v| %>
      <div class="col-xs-12">
        <%= v.label :name %>
        <%= v.text_field :name %>
      </div>
      <div class="col-xs-12">
        <%= v.label :url %>
        <%= v.text_field :url %>
      </div>
      <div class="col-xs-12">
        <%= v.label :description %>
        <%= v.text_field :description, :size => "30x10" %>
      </div>
      <div class="col-xs-12">
        <%= v.label :is_public %>
        <%= v.check_box :is_public %>
      </div>
      <div class="col-xs-12">
        <%= v.submit class: "btn btn-default btn-primary"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
