<div class="banner">
  <div class="banner-content">
    <h1>Films de famille: <strong>en super 8</strong></h1>
    <p>scannés image par image et retravaillés</p>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="cards-videos" >
        <% @videos.each do |video| %>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <%= link_to video_path(video) do %>
              <div class="card-video" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)),
                      url(<%= cl_image_path video.image_url, height: 500, width: 400 %>")>
                  <li>
                    <div class="name-video"> <%= video[:name].truncate(30, omission: '...')%> </div>
                    <div class="description-video"> <p> <%= video.description.truncate_words(10, omission: '...') %></p>
                    </div>
                </li>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
          <div class="card-add-video" >
            <% if current_user.email == 'jody.vanden@gmail.com' %>
              <p> <%= link_to '<i class="fa fa-plus-circle add-video" aria-hidden="true"></i> <p>add a video</p>'.html_safe, new_video_path %></p>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





































