<div class="banner">
  <div class="banner-content">
    <h1>Films de famille: <strong>en super 8</strong></h1>
    <p>scannés image par image et retravaillés</p>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="cards-videos" >
        <% @videos.each do |video| %>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card-video" >
              <%= link_to video_path(video) do %>
                  <li><%= video[:name].truncate(30, omission: '...')%> </li>
                  <%= youtube_video(video.youtube_id) %>
                  <p> <%= video.description.truncate_words(10, omission: '...') %></p>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
          <div class="card-add-video" >
            <% if current_user.email == 'jody.vanden@gmail.com' %>
              <p> <%= link_to '<i class="fa fa-plus-circle add-video" aria-hidden="true"></i> <p>add a video</p>'.html_safe, new_video_path %></p>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





































