<div class = "videos">
  <h1><%= @video.name %></h1>
  <%= youtube_video(@video.youtube_id) %>
</div>

<h2> <%= pluralize @video.comment.size, "comment" %> </h2>

<div class = "comements">
  <% if @video.comment.blank? %>
  Soyez le premier a mettre un commentaire for <%= @video.name %> <%= @video.youtube_id %> !
  <% else %>
    <% @video.comment.each do |comment| %>
      <%= render 'comment/show' %>
    <% end %>
  <% end %>
</div>
