<div class="wrapper">
  <div class = "show-videos">
    <div class="show-video-card auto-resizable-iframe ">
      <h1><%= @video.name %></h1>
      <%= youtube_video(@video.youtube_id) %>
    </div>
    <div class="show-description auto-resizable-iframe ">
      <!-- <p> <%= @video.description.truncate_words(10, omission: '... (continued)') %></p> -->
      <% if @video.description.length > 250 %>
        <%= truncate(@video.description, length: 250) %>
        <%= link_to_function 'Read more', "$(this).parent().html('#{escape_javascript  @video.description}')" %>
<!--         <%= link_to 'Read more', '', class: "read-more-#{@video.id}" %>
 -->        <!-- <script>
          $('.read-more-<%= @video.id %>').on('click', function(e) {
            e.preventDefault()
            $(this).parent().html('<%= escape_javascript @video.description %>')
          })
        </script> -->
      <% else %>
        <%= @video.description %>
      <% end %>
    </div>

    <div class="admin auto-resizable-iframe">
      <% if current_user.email == "jody.vanden@gmail.com" %>
      <%= link_to "edit", edit_video_path(@video) %>
      <%= link_to "delete", video_path(@video), method: :delete,
          data: { confirm: "Are you sure?" } %>
      <%end%>


    </div>



    <div class = "comments auto-resizable-iframe">
    <h2> <%= pluralize @video.comment.size, "comment" %> </h2>
      <% if @video.comment.blank? %>
      <p>Soyez le premier a mettre un commentaire for <%= @video.name %>!</p>
      <% else %>
        <% @video.comment.each do |comment| %>
          <%= render 'comment/show' %>
        <% end %>
      <% end %>
      <%= simple_form_for @video do |f| %>
        <!-- Change default label -->
        <%= f.input :comment, as: :text, placeholder: 'Entrez un commentaire', error: 'commentaire necessaire pour envoyer' %>
        <!-- Add placeholder -->
        <%= f.input :mark, collection: 1..5, prompt: "Nb of stars", selected: 3 %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
