<div class="wrapper">
  <div class = "show-videos">
    <div class="show-video-card auto-resizable-iframe ">
      <h1><%= @video.name %></h1>
      <%= youtube_video(@video.youtube_id) %>
    </div>
    <div class="show-description auto-resizable-iframe ">
      <!-- <p> <%= @video.description.truncate_words(10, omission: '... (continued)') %></p> -->
      <% if @video.description.length > 250 %>
        <%= truncate(@video.description, length: 250) %>
        <%= link_to_function 'Read more', "$(this).parent().html('#{escape_javascript  @video.description}')" %>
<!--         <%= link_to 'Read more', '', class: "read-more-#{@video.id}" %>
 -->        <!-- <script>
          $('.read-more-<%= @video.id %>').on('click', function(e) {
            e.preventDefault()
            $(this).parent().html('<%= escape_javascript @video.description %>')
          })
        </script> -->
      <% else %>
        <%= @video.description %>
      <% end %>
    </div>

    <div class="admin auto-resizable-iframe">
      <% if current_user.email == "jody.vanden@gmail.com" %>
      <%= link_to "edit", edit_video_path(@video) %>
      <%= link_to "delete", video_path(@video), method: :delete,
          data: { confirm: "Are you sure?" } %>
      <%end%>
    </div>

    <div id = "comments" class = "comments auto-resizable-iframe">
    <h2> <%= pluralize @video.comments.size, "comment" %> </h2>
      <% if @video.comments.blank? %>
      <p>Soyez le premier a mettre un commentaire for <%= @video.name %>!</p>
      <% else %>
        <% @video.comments.each do |comment| %>
          <%= render 'comments/show', comment: comment.content, user_id: comment.user_id %>
        <% end %>
      <% end %>
      <%= render 'comments/form', video: @video, comment: @comment %>

    </div>
  </div>
</div>
